{% load static %}
<section class="product1">
    <h2 class="product-category"></h2>
    <button class="pre-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button class="nxt-btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'images/brand_logos/mammut-logo-sw.png' %}" class="product-thumb" alt="">
                <button class="card-btn"></button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"></h2>
                <p class="product-short-description"></p>
                <span class="price"></span><span
                    class="actual-price"></span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'images/brand_logos/patagonia-logo.png' %}" alt="">
                <button class="card-btn"></button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"></h2>
                <p class="product-short-description"></p>
                <span class="price"></span><span
                    class="actual-price"></span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'images/brand_logos/arcteryx-logo.png' %}" alt="">
                <button class="cardd-btn"></button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"></h2>
                <p class="product-short-description"></p>
                <span class="price"></span><span
                    class="actual-price"></span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'images/brand_logos/hagloefs-logo.png' %}" alt="">
                <button class="card-btn"></button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"></h2>
                <p class="product-short-description"></p>
                <span class="price"></span><span
                    class="actual-price"></span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'images/brand_logos/prana-logo.png' %}" alt="">
                <button class="card-btn"></button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"></h2>
                <p class="product-short-description"></p>
                <span class="price"></span><span
                    class="actual-price"></span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="{% static 'images/brand_logos/petzl-logo(1).png' %}" alt="">
                <button class="card-btn"></button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"></h2>
                <p class="product-short-description"></p>
                <span class="price"></span><span
                    class="actual-price"></span>
            </div>
        </div>
    </div>

</section>
<script src="{% static 'js/script.js' %}"></script>
