{% load static %}
<section id="new" class="my-5 pb-5">
    <div class="new_product mt-5 py-2">
        <h3 class="product-category "></h3>
        <h3 class="text-center">Top Sellers</h3>
        <hr class="mx-auto">
        <p class="text-center">Here you can check out our new products.</p>

        <button1 class="pred-btn"><img src="{% static 'images/arrow.png' %}" alt=""></button1>
        <button1 class="next-btn"><img src="{% static 'images/arrow.png' %}" alt=""></button1>
        <div class="new_product-container">
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card1.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card3.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card4.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card6.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card7.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card3.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
            <div class="new_product-card">
                <div class="new_product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{% static 'images/top-sell_product_slide/card4.jpg' %}"
                         class="new_product-thumb" alt="">
                    <button class="new_card-btn">Buy Now</button>
                </div>
                <div class="new_product-info">
                    <h4 class="new_product-brand">brand</h4>
                    <p class="new_product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span
                        class="actual-price">$40</span>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/script_new_slide.js' %}"></script>