{% load static %}
<section id="top-sellers" class="my-5">
    <div class="container text-center mt-5 py-3">
        <h3>Top Sellers</h3>
        <hr class="mx-auto">
        <p>Here you can check out our new products.</p>
    </div>
    <div class="row mx-auto container-fluid">
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="{% static 'images/products/mammut-rope.jpg' %}" alt="">
            <!-- icon - star-->
            <div class="star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h5 class="p-name">8.7 Alpine Sender Dry Rope</h5>
            <h4 class="p-price">Eur 99.80</h4>
            <button class="buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="{% static 'images/products/patagonia-shoulder-bag.jpg' %}" alt="">
            <!-- icon - star-->
            <div class="star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h5 class="p-name">PATAGONIA-Ultralight Black Hole Tote Pack - Shoulder bag</h5>
            <h4 class="p-price">Eur 89.00</h4>
            <button class="buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="{% static 'images/products/climbing-helmet.jpg' %}" alt="">
            <!-- icon - star-->
            <div class="star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h5 class="p-name">MAMMUT-Skywalker 3.0 Helmet </h5>
            <h4 class="p-price">Eur 59.95</h4>
            <button class="buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="{% static 'images/products/avalanche-airbag.jpg' %}" alt="">
            <!-- icon - star-->
            <div class="star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h5 class="p-name">MAMMUT-Women's Tour 30 Removable Airbag 3.0 - Avalanche airbag</h5>
            <h4 class="p-price">Eur 659.80</h4>
            <button class="buy-btn">Buy Now</button>
        </div>
    </div>
</section>