{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <section id="home">
        <div class="container">
            <h5>Save on new products!</h5>
            <h1><span>ALL</span> EASTER DEALS</h1>
            <p>At least 15% off</p>
            <button>Shop Now</button>
        </div>
    </section>

    <section id="new" class="w-100">
        <div class="row mt-2 py-2">
            <div class="one col-lg-4 col-md-12 col-12 p-0">
                <img class="img-fluid" src="{% static 'images/download.webp' %}" alt="">
                <div class="details">
                    <h2>Discover our climbing collection</h2>
                    <button class="text-uppercase">Shop now</button>
                </div>
            </div>
            <div class="one col-lg-4 col-md-12 col-12 p-0">
                <img class="img-fluid" src="{% static 'images/products/vendor_arcteryx.jpg' %}" alt="">
                <div class="details">
                    <h2>Overnighting in the Alpine </h2>
                    <button class="text-uppercase">Shop now</button>
                </div>
            </div>
            <div class="one col-lg-4 col-md-12 col-12 p-0">
                <img class="img-fluid" src="{% static 'images/products/vendor_blackdiamond.jpg' %}" alt="">
                <div class="details">
                    <h2>Spring Rising - New arrivals</h2>
                    <button class="text-uppercase">Shop Women's</button>
                    <button class="text-uppercase">Shop Men's</button>
                </div>
            </div>
        </div>
    </section>

    <section id="featured" class="my-5 pb-5">
        <div class="new_product mt-5 py-2">
            <h3 class="product-category "></h3>
            <h3 class="text-center">New Products</h3>
            <hr class="mx-auto">
            <p class="text-center">Here you can check out our new products.</p>

            <button1 class="pred-btn"><img src="{% static 'images/arrow.png' %}" alt=""></button1>
            <button1 class="next-btn"><img src="{% static 'images/arrow.png' %}" alt=""></button1>
            <div class="new_product-container">
                {% for product in products %}

                    <div class="product text-center col-lg-3 col-md-4 col-12">
                        <img class="img-fluid mb-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                        <!-- icon - star-->
                        <div class="star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <h4 class="p-name">{{ product.brand }}</h4>
                        <h5 class="p-name">{{ product.name }}</h5>
                        <h6 class="price">Eur {{ product.price }}</h6>
                        <button class="buy-btn">Buy Now</button>
                    </div>

                {% endfor %}
            </div>
        </div>

    </section>

    <section id="banner" class="my-5 py-5">
        <div class="container">
            <h1>SKI/SNOWBOARD</h1>
            <h4>Explore our collection for freeride,<br>ski touring, and backcountry.</h4>
            <button class="text-uppercase">See Men's</button>
            <button class="text-uppercase">See Women's</button>
        </div>
    </section>

    {% include 'sections/new_slide_section.html' %}

    {% include 'sections/brand_slide.html' %}
{% endblock %}