.new_product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.new_product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.new_product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.new_product-container::-webkit-scrollbar {
    display: none;
}
.new_product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.new_product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.new_product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
.new_card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    /*background: #fff;*/
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.new_product-card:hover .new_card-btn {
    opacity: 1;
}
.new_card-btn:hover {
    background: #3a3833;
    color: aliceblue;
}
.new_product-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.new_product-brand {
    text-transform: uppercase;
}
.new_product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
.price {
    font-weight: 900;
    font-size: 20px;
}
.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}
.pred-btn,
.next-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 9;
}
.pred-btn {
    left: 0;
    transform: rotate(180deg);
}
.next-btn {
    right: 0;
}
.pred-btn img,
.next-btn img {
    opacity: 0.2;
}
.pred-btn:hover img,
.next-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.collection {
    position: relative;
}
.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}


